.body{
 font-family: 'Roboto', sans-serif;
 font-style: normal;
 font-weight: 400;
 color:#434455
 
}
.link{
    text-decoration: none;
}
.list{
    list-style: none;
}
   /**--------HEADER-------*/ 

.header{
    background-color: #FFFFFF;
} 
.header-logo{

    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing:  0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color:#4D5AE5
}
.header-logo-studio{
 color: #2E2F42;
}

.header-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    }
.header-link:hover,
.header-link:focus{
    color: #404BBF;
}
.header-link:active{
    color: #4D5AE5;
}
.adress{
    font-style: normal; 
}

.link-tel{
    list-style: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455; 
}
.link-tel:hover,
.link-tel:focus{
    color: #404BBF;;
}

.link-tel:active{
    color: #4D5AE5;
}
 /**--------HERO-------*/ 

.hero{
    background-color: #2E2F42;
}
.hero-text{
    font-weight: bold;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    width: 496px;
    text-align: center;
    color: #FFFFFF;
}
.hero-btn{
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0,15);
    border-radius: 4px;
    cursor: pointer;
    color: #FFFFFF;
}
.hero-btn:hover,.hero-btn:focus{
    color: #404BBF;
}
.btn:active{
    color: #4D5AE5;
}
 /**--------ABOUT-------*/ 

.about-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2E2F42;
}
.about-top{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    
}
.about-bottom{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}
 /**--------FOOTER-------*/ 
.footer{
    background-color: #2E2F42;
}
.logo-footer-studio{
    color: #F4F4FD;
}
.footer-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;

}
.footer-logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;


}

 /**--------PORTFOLIO-------*/ 


.choice-btn{
    font-family: 'Roboto'sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    cursor:pointer;
}
.choice-btn:hover,
.choice-btn:focus{
color: #404BBF;
}
.choice-btn:active{
    color: #404BBF;
}
.txt-top{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;

}
.txt-bottom{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}
.galery-link:hover,
.galery-link:focus{
    color:#404BBF
}